body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu{
    background-color: #4f27f0f6;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}
.imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.sobre-img img {
    border: 2px solid #ccc; 
    border-radius: 5px;
}
